@model List<Book>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>

        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
                            <span class="fa fa-search"></span>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <section class="product-sec">
            <div class="container">
                <h1>THÔNG TIN CHI TIẾT SÁCH</h1>
                <div class="row">
                    <div class="col-md-6 slider-sec">
                        <!-- main slider carousel -->
                        <div id="myCarousel" class="carousel slide">
                            <!-- main slider carousel items -->
                            <div class="carousel-inner">
                                <div class="active item carousel-item" data-slide-number="0">
                                    <img src="images/product1.jpg" class="img-fluid">
                                </div>
                                <div class="item carousel-item" data-slide-number="1">
                                    <img src="images/product2.jpg" class="img-fluid">
                                </div>
                                <div class="item carousel-item" data-slide-number="2">
                                    <img src="images/product3.jpg" class="img-fluid">
                                </div>
                            </div>
                            <!-- main slider carousel nav controls -->
                            <ul class="carousel-indicators list-inline">
                                <li class="list-inline-item active">
                                    <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                                        <img src="images/product1.jpg" class="img-fluid">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                                        <img src="images/product2.jpg" class="img-fluid">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                                        <img src="images/product3.jpg" class="img-fluid">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--/main slider carousel-->
                    </div>
                    @foreach (var book in Model)
                    {
                        <div class="col-md-6 slider-content">
                            <p>@book.Description</p>
                            <ul>
                                <li>
                                    <span class="name">Tác giả</span><span class="clm">:</span>
                                    <span class="price">@book.Author</span>
                                </li>
                                <li>
                                    <span class="name">Năm xuất bản</span><span class="clm">:</span>
                                    <span class="price final">@book.YearReleased</span>
                                </li>
                                <li>
                                    <span class="name">Số lượng</span><span class="clm">:</span>
                                    <span class="price">@book.Stock</span>
                                </li>
                                <li>
                                    <span class="name">Thể loại</span><span class="clm">:</span>
                                    <span class="price final">@book.Category</span>
                                </li>
                            </ul>
                            <div class="btn-sec">
                                <button class="btn ">Mua</button>
                            </div>
                        </div>
                    }
                    </div>
            </div>
        </section>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>